body{
 margin: 0 auto;
 background: #fff;
 color: #fff;
 font: 15px 'Myriad Pro', arial, sans-serif, helvetica;
}
/*=======General Reset=========*/
*{
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p{
 margin: 0;
}
ul, ol{
 margin: 0;
 padding: 0;
 list-style: none;
}
a{
 color: #000;
 text-decoration: none;
}
a:hover{
 text-decoration: none;
}
a:visited, a:link, a:active{
 color: #000;
}
img{
 max-width: 100%;
 max-height: 100%;
}
input, button{
 outline: none;
 border: none;
}
/*=========General reset end=======*/
.header{
	background: url(../img/hed-1.png) no-repeat; 
	height: 70px;
	
}
.header a{
	color: #f5f5f5;
}
.header:hover a{
	color: #1d8bc2;
}
.span_kpp{
	font-size: 30px;
}